In [8]:
import pybea
import configparser

config = configparser.ConfigParser()
config.read('config.ini')

USER_ID: str = config['KEYS']['USER_ID']

# Get datasets
datasets = pybea.get_data_set_list(USER_ID)

In [12]:
datasets = []

In [7]:
GDP_Params = pybea.get_parameter_list(USER_ID, DataSetName='GDPbyIndustry', ResultFormat='JSON')

NIPA_Params = pybea.get_parameter_list(USER_ID, DataSetName='NIPA', ResultFormat='JSON')
NIPA_Params

,AllValue,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,,1,string,,"A - Annual, Q-Quarterly, M-Monthly",1,Frequency
1,,0,string,N,A flag indicating that million-dollar data sho...,0,ShowMillions
2,,0,integer,NaN,The standard NIPA table identifier,0,TableID
3,,0,string,NaN,The new NIPA table identifier,0,TableName
4,X,1,integer,,List of year(s) of data to retrieve (X for All),1,Year

In [ ]:
NIPA_data = pybea.get_data(USER_ID, DataSetName='NIPA')